{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I am an individual driven by a diverse range of passions, from football to science,
          engineering, and programming. Football has always been a big part of my life, but
          my curiosity for understanding how things work led me down the path of engineering.
          I pursued a degree in Electrical and Electronics Engineering, where I developed a
          strong foundation in problem-solving, systems design, and technical innovation.
          This background has shaped the way I approach challenges, both in my personal and
          professional life.
        </p>
        <p>
          As technology continues to evolve, I found myself increasingly drawn to the field of
          data science. The vast potential of Data Science, Artificial Intelligence (AI), and
          Machine Learning sparked a new interest in me. I am currently focused on learning
          these cutting-edge technologies, particularly through Python programming. This journey
          has allowed me to see how data can shape decisions, automate tasks, and unlock new
          insights across industries, making it an exciting field to be a part of.
        </p>
        <p>
          My love for IT and data is the driving force behind my pursuit of continuous learning.
          I believe that combining my engineering background with the latest advancements in AI
          and data science will open up new opportunities for innovation. Whether I’m coding,
          analyzing data, or exploring the latest trends in technology, I’m always eager to
          apply my skills and knowledge to make an impact in the tech world.


        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
